body {
    margin: 0;
    padding: 0;
    font-family: 'Rakkas', sans-serif;
    background-image: url('https://i.pinimg.com/736x/04/7e/4c/047e4c86a95e5f6f3caa57dc19bf2237.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #f7f7f3;
    position: relative;
}

h1 {
    font-size: 7.5em; /* Agrandir le titre */
    font-weight: bold;
    color: #000000; /* Couleur noire pour le titre */
    margin-top: 10px;
    margin-bottom: 0px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6); /* Ombre pour améliorer la lisibilité */
    display: inline-block;
    padding: 6px;
    border-radius: 1px;
    -webkit-text-stroke: 0.1px rgb(249, 245, 218);
    background: transparent;
}

.subtitle {
    font-size: 2em;
    color: #000000; /* Couleur noire pour le sous-titre */
    margin-top: 0px;
    margin-bottom: 10px; /* Reduced distance between subtitle and icons */
    font-family: 'Rakkas', sans-serif;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 20); /* Ombre pour améliorer la lisibilité */
    display: inline-block;
    padding: 6px;
    -webkit-text-stroke: 0.3px rgb(249, 246, 226);
    background: transparent;
}

.time-status {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #111;
    display: flex;
    flex-direction: column;
    gap: 5px; /* Espacement entre les lignes */
}

.battery-status,
.time-display,
.mode-toggle {
    display: flex; /* Aligne les textes et icônes sur une même ligne */
    justify-content: flex-start; /* Texte à gauche et icône à droite */
    flex-direction: row-reverse;
    align-items: center; /* Centre verticalement les éléments */
    gap: 5px; /* Espacement entre le texte et l'icône */
}

.battery-status i,
.time-display i,
.mode-toggle i {
    font-size: 15px; /* Taille des icônes */
}

.battery-level {
    font-size: 16px; /* Taille du texte de la batterie */
    font-weight: bold;
    color: #555;
}

.current-time {
    font-size: 16px; /* Taille du texte de l'heure */
    font-weight: bold;
    color: #000;
}

.container {
    margin: 30px auto; /* Reduced distance between subtitle and icons */
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
    text-align: right;
}

.icon {
    display: block;
    margin: 20px auto;
    padding: 15px;
    font-size: 2.5em;
    font-family: 'Rakkas', sans-serif;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    width: 80%;
    text-align: center;
    transition: background 0.3s, transform 0.2;
}

.icon:hover {
    background-color: #565454;
    transform: scale(1.05);
}

.dropdown {
    display: none;
    margin-top: 10px;
    text-align: left;
}

.dropdown button {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background-color: #f0f0f0;
    transition: background 0.3s, transform 0.2;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    text-align: right; /* Ensures text alignment to the right */
}

.dropdown button img {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdown button:hover {
    background-color: #ddd;
    transform: scale(1.05);
}

.sourates-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.sourates-list button {
    padding: 15px;
    background-color: #f5f2f2;
    color: #151212;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.3s, transform 0.2s;
}

.sourates-list button:hover {
    background-color: #dedcdc;
    transform: scale(1.05);
}

/* Barre de recherche */
.search-bar {
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 1.1em;
    text-align: right;
    display: block;
}

.search-bar::placeholder {
    text-align: right;
    color: #999;
}

/* Barre audio */
.audio-player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
    gap: 10px; /* Add spacing between elements */
    position: relative;
}

audio {
    width: 90%;
    max-width: 500px;
}

.audio-controls {
    display: flex;
    gap: 10px;
    justify-content: center; /* Center the controls */
    align-items: center;
}

.audio-controls div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
}

.audio-controls i {
    font-size: 20px;
    cursor: pointer;
}

.footer-content {
    font-size: 16px;
}

.developer-name {
    font-weight: bold; /* Met le texte en gras */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6); /* Ombre pour améliorer la lisibilité */
    color: rgb(244, 233, 169); /* Change la couleur en rouge */
    font-size: 19px;
}

/* Social Media Icons */
.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative; /* position the icons absolutely */
    bottom: 20px; /* position them at the bottom of the container */
    left: 50%;
    transform: translateX(-50%); /* center them horizontally */
}

.social-icons a {
    color: #fcfbfb; /* change color to black */
    font-size: 2em;
    transition: color 0.3s;
    display: inline-block;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    color: #555;
    transform: translateY(-5px);
}

.day-night-toggle {
    cursor: pointer;
    color: #fafafa;
    font-size: 15px;
}

.dark-theme {
    background-color: #252525c9;
    color: #fefdfd;
}

.dark-theme .container {
    background: rgba(39, 38, 38, 0.8);
}

.dark-theme .icon {
    background-color: rgba(24, 23, 23, 0.932);
    color: rgba(255, 255, 255, 0.8);
}

.dark-theme .icon:hover {
    background-color: rgba(45, 45, 45, 0.9);
}

.dark-theme .sourates-list button,
.dark-theme .dropdown button {
    background-color: rgba(0, 0, 0, 0.8); /* Background color with opacity */
    color: #ffffff; /* Text color white */
}

.dark-theme .sourates-list button:hover,
.dark-theme .dropdown button:hover {
    background-color: #666; /* Darker background on hover */
}

.dark-theme .search-bar {
    background-color: rgba(50, 50, 50, 0.9);
    color: #fefdfd;
}

.dark-theme .search-bar::placeholder {
    color: #ccc;
}

.dark-theme .battery-status i,
.dark-theme .time-display i,
.dark-theme .mode-toggle i {
    color: rgba(238, 225, 182, 0.8);
}

.dark-theme .battery-level,
.dark-theme .current-time {
    color: white;
}
